.formPage {
  padding-bottom: 30px;
}
.subscribe-title {
  color: #32CD32;
  font-family: 'Roboto', sans-serif;
}
.subscribe-text {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.btn-color {
  color: #32CD32;
  border-color: #32CD32;
}
.text-color {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
Link:hover {
  color: #fff;
}