.formPage {
    /*width: 100%*/
    height: auto;
    background-color: black;
}

/* edit style when properly floated */
.card {
    position: center;
    height: 10;
    width: 200%;
    margin-bottom: 5rem;
    padding-left: 15px;
    padding-right: 15px;
}